.wikiBox {
    display: flex;
    flex-direction: column;
}

.navBar{
    display: flex;
    justify-content: center;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.pageBox {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    flex-grow: 1;
}

.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonBox {
    display: flex;
    justify-content: flex-start;
}

.pageList{
    display: flex;
    flex-direction:column;
}
